[submodule "deps/graphblast"]
	path = deps/graphblast
	url = https://github.com/gunrock/graphblast.git
[submodule "deps/gunrock"]
	path = deps/gunrock
	url = https://github.com/gunrock/gunrock.git
[submodule "deps/lagraph"]
	path = deps/lagraph
	url = https://github.com/GraphBLAS/LAGraph.git
[submodule "deps/graphblas"]
	path = deps/graphblas
	url = https://github.com/DrTimothyAldenDavis/GraphBLAS.git
[submodule "deps/spla"]
	path = deps/spla
	url = https://github.com/JetBrains-Research/spla.git
[submodule "deps/graphblas-sharp"]
	path = deps/graphblas-sharp
	url = https://github.com/kirillgarbar/GraphBLAS-sharp.git
	branch = benchmarks
